
.icon-broccoli:before { content: '\e800'; } /* '' */
.icon-dinner:before { content: '\e801'; } /* '' */
.icon-service:before { content: '\e802'; } /* '' */
.icon-pot:before { content: '\e803'; } /* '' */
.icon-water:before { content: '\e804'; } /* '' */
