.header__nav a {
  will-change: color;
  transition: color 0.3s;
}

.header__nav-item:hover {
  color: #FF5900;
}

.header__nav-item:visited {
  color: inherit;
}

.header__contacts a {
  will-change: color;
  transition: color 0.3s;
}

.header__contacts a:hover {
  color: #7224EA;
}

.btn__text {
  will-change: color;
  transition: color 0.3s;
}

.btn__text:hover {
  color:  #FDBF0F;
}

.btn--orange .btn__text:hover {
  color:  #7224EA;
}

.footer__nav a {
  will-change: color;
  transition: color 0.3s;
}

.footer__nav-item:hover {
  color: #FF5900;
}

.footer__nav-item:visited {
  color: inherit;
}

.icon-facebook {
  will-change: color;
  transition: color 0.3s;
}

.footer__contacts a {
  will-change: color;
  transition: color 0.3s;
}

.footer__contacts a:hover {
  color: #7224EA;
}

.icon-facebook:hover {
  color: #3b5998;
}