.active {
  will-change: color;
  transition: color 0.3s;
}

.header__nav-item:hover {
  color: #FF5900;
}

.header__title:hover {
  color: #FF5900;
}

.footer__title:hover {
  color: #FF5900;
}

.header__nav-item:visited {
  color: inherit;
}

.header__contacts a:hover {
  color: #7224EA;
}

.btn:hover {
  color:  #FDBF0F;
  cursor: pointer;
}

.btn--orange:hover {
  color:  #7224EA;
  cursor: pointer;
}

.footer__nav-item:hover {
  color: #FF5900;
}

.footer__nav-item:visited {
  color: inherit;
}

.footer__contacts a:hover {
  color: #7224EA;
}

.icon-facebook:hover {
  color: #3b5998;
}

.btn {
  transition: 0.3s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  /* transition-duration: 0.3s;
  transition-timing-function: ease; */
}

select:hover~label,
input:hover~label,
label:hover {
  color:  #7224EA;
  cursor: pointer;
}
