.active {
  will-change: color;
  transition: color 0.3s;
}

.header__nav-item:hover {
  color: #FF5900;
}

.header__nav-item:visited {
  color: inherit;
}

.header__contacts a:hover {
  color: #7224EA;
}

.btn__text:hover {
  color:  #FDBF0F;
}

.btn--orange .btn__text:hover {
  color:  #7224EA;
}

.footer__nav-item:hover {
  color: #FF5900;
}

.footer__nav-item:visited {
  color: inherit;
}

.footer__contacts a:hover {
  color: #7224EA;
}

.icon-facebook:hover {
  color: #3b5998;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

