@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf)
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf)
}
