.footer {
  background-color: #F5F5F5;
  min-height: 20.1875rem;
  font-family: "Roboto Condensed";
}

.container--footer {
  display: flex;
  height: 100%;
  padding-top: 3.5rem;
  flex-direction: column;
  row-gap: 6.1rem;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.6875rem;
}

.footer__wrapper--right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5625rem;
  margin-top: 1.25rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width:1000px) {
  .footer__wrapper--right {
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
}

@media (max-width:480px) {
  .footer__wrapper--right {
    justify-content: space-between;
  }
} 

.footer h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
}

.footer__nav {
  display: flex;
  margin-top: 0.1875rem;
  flex: 1 1 auto;
  justify-content: space-evenly;
}

@media (max-width:1200px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav a {
  font-family: "Roboto Condensed";
  font-weight: 700;
  line-height: 1.1875rem;
  color: inherit;
  text-decoration: none;
}

.footer__contacts {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.8125rem;
}

.footer__address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  display: flex;
  gap: 0.9375rem;
  padding-left: 5.0625rem;
  padding-bottom: 0.5rem;
}

@media (max-width:700px) {
  .footer__address, .footer__contacts {
    padding: 0;
  }
}

@media (max-width:480px) {
  .footer__contacts {
    order:5;
  }
}

.footer__contacts a {
  color: inherit;
  text-decoration: none;
}

.footer__phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.625rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer__mail {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-left: 2.625rem;
}

.footer__social {
  margin-left: 2.5625rem;
}

@media (max-width:700px) {
  .footer__social, .btn--footer {
    margin: 0;
  }
}

@media (max-width:480px) {
  .footer__social {
    display: flex;
    order: 4;
  }
}

.footer__icon {
  font-size: 1.25rem;
}

.icon-facebook {
  font-size: 1.875rem;
  color: #000;
}

.footer__copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  gap: 17px;
}


.icon-copy {
  font-size: 1.125rem;
  font-weight: 700;
}