.footer {
background-color:  #F5F5F5;
min-height: 323px;
font-family: "Roboto Condensed";
}

.container--footer {
  display: flex;
  height: 100%;
  padding-top: 56px;
  flex-direction: column;
  row-gap: 97px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 75px;
}

.footer__wrapper--right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.footer__nav {
  display: flex;
  margin-top: 3px;
  flex: 1 1 auto;
  justify-content: space-evenly;
}

.footer__nav a {
  font-family: "Roboto Condensed";
  font-weight: 700;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
  will-change: color;
  transition: color 0.3s;
}

.footer__nav-item:hover {
  color: #FF5900;
}

.footer__nav-item:visited {
  color: inherit;
}

.footer__contacts {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 13px;
}

.footer__address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  gap: 15px;
  padding-left: 81px;
  padding-bottom: 8px;
}


.footer__contacts a {
  color: inherit;
  text-decoration: none;
}

.footer__phone {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 42px;
}

.footer__social {
  margin-left: 41px;
}



.footer__icon {
  font-size: 20px;
}

.icon-facebook {
  font-size: 30px;
  color: #000;
}

.footer__copyright {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
gap: 17px;
}


.icon-copy {
  font-size: 18px;
  font-weight: 700;
}