.header {
  font-family: "Roboto Condensed";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 7;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59.03%);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 74px;
}

.header__wrapper--right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4.25rem;
  margin-top: 1.25rem;
}

@media (max-width:768px) {
  .header__wrapper--right {
    gap: 2.5rem;
  }
}

@media (max-width:540px) {
  .header__wrapper--right {
    display: none;
  }
}

.header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  margin-top: 0.625rem;
  flex: 1 1 auto;
  justify-content: space-between;
}

@media (max-width:1200px) {
  .header__nav {
    display: none;
  }
}

.header__nav a {
  font-family: "Roboto Condensed";
  font-weight: 700;
  line-height: 1.1875rem;
  color: inherit;
  text-decoration: none;
}

.header__contacts {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
display: none;
}

@media (max-width:1200px) {
  .menu-btn {
    display: block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
}

.icon-location {
  font-size: 1.375rem;
}

.header__contacts a {
  color: inherit;
  text-decoration: none;
}

.header__phone {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}

.header__mail {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-left: 2.365rem;
}

.header__icon {
  font-size: 1.25rem;
}