.main--begin {
  min-height: 290px;
  background-color: #651FFF;
}

.main__begin {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 60px;
}


.main__begin h2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
color: #FFFFFF;
margin-top: 50px;
}

.number {
  width:48px;
  height:48px;
  font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 48px;
color: #fff;
display: inline-block;
text-align: center;
border: 7px solid #fff;
border-radius: 50%;
position: relative;
}

.number::after {
  content: "";
  border: 4px solid #FDBF0F;
  border-radius: 50%;
  position: absolute;
  width:40px;
  height:40px;
  text-align: center;
  left:0px;
}


.begin {
  display: flex;
  column-gap: 35px;
}

.step {
  display: flex;
  flex-direction: row;
  column-gap: 19px;
}

.step p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #FEFEFE;
}

.steplast {
  display: flex;
  flex-direction: row;
  column-gap: 19px;
}

.steplast p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #FEFEFE;
}

.step::after {
  content: url("../img/arrow.svg");
  display: flex;
align-items: center;
padding-top: 10px;
padding-left: 10px;
}