.container--guide {
  padding: 0 2.1875rem;
}

.main__guide--footer {
  max-width: 75.625rem;
  min-height: 18.5rem;
  background-color: #7224EA;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2.875rem;
  margin-bottom: 6.25rem;
}

.main__guide--footer h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.875rem;
  color: #fff;
  padding-top: 2.9375rem;
  padding-left: 1.25rem;
}

.consumers {
  display: flex;
  column-gap: 13.125rem;
}

@media (max-width:1000px) {
  .consumers {
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: center;
  }
}


@media (max-width:768px) {
  .consumers {
    flex-direction: column;
    row-gap: 4rem;
    align-content: center;
    flex-wrap: wrap;
  }
}

.consumers__text h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #fff;
  padding-bottom: 0.8125rem;
}

.consumers__text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #fff;
}

.consumers__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.25rem;
}

@media (max-width:400px) {
  .consumers__text {
    flex-direction: column;
  }
}

.icon-zavodik,
.icon-dom {
  font-size: 1.875rem;
  color: #FDBF0F;
  height: 4.75rem;
  width: 4.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid #fff;
  border-radius: 50%;
}

.icon-dom::before {
  margin-left: 0rem;
}

.consumers__first {
  padding-left: 1.375rem;
}

@media (max-width:768px) {
  .consumers__first {
    padding-left: 0rem;
  }
}

@media (max-width:768px) {
  .consumers__second {
    margin-bottom: 1rem;

  }
}

@media (max-width:400px) {
  .consumers__second {
    padding-left: 2%;
  }
}