.main--form {
  min-height: 45.45rem;
  height: 100%;
  width: 100%;
  background-image: url("../img/pexels.jpg");
  background-size: 2120px 730px;
  background-repeat: no-repeat;
}

.container--form {
  min-height: 45rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.main__form {
  display: flex;
  min-height: 31.25rem;
  max-width: 60.75rem;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
  row-gap: 2.6875rem;
  margin-top: 3.125rem;
  margin-right: 3.9375rem;
  position: relative;
}

.main__form::after {
  content: "";
  position: absolute;
  background-image: url("../img/krugform.svg");
  width: 19.9375rem;
  height: 19.5625rem;
  top: 1.5625rem;
  left: 8.3125rem;
  z-index: 1;
}

.main__form h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-top: 4.625rem;
  margin-left: 4.5625rem;
  position: relative;
  z-index: 2;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  row-gap: 1.5rem;
  padding-left: 14.25rem;
  padding-right: 8.4375rem;
  position: relative;
  z-index: 2;
}

.form label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.54);

}

.form input,
select {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.9);
  outline: none;
  border: none;
  border-bottom: solid 1px #979797;
  width: 19.75rem;
  transition: 0.3s;
  background: transparent;
}

select,
input,
label {
  display: inline-block;
}

.form input:focus,
select:focus {
  border: none;
  border-bottom: solid 1px #651FFF;
}

select:focus~label,
input:focus~label,
label:focus {
  color: #651FFF;
}

.form__first {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.form__second {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.form__third {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.form__fourth {
  display: flex;
  flex-direction: row;
  column-gap: 7.6875rem;
}

.form__fourth p,
.form__fourth a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgba(0, 0, 0, 0.9);
}

.input-name,
.call,
.input-tel,
.url,
.input-email,
.input-text {
  display: flex;
  flex-direction: column-reverse;
}