.main--process {
  min-height: 47.8125rem;
  background-color: #F5F5F5;
}

.main__process h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  padding-top: 4.3125rem;
}

.instructions p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: end;
}

.instructions {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 4.375rem;
}

.instructions::before {
  content: " ";
  position: absolute;
  background-image: url("../img/chelsmisheniu.png");
  width: 32.5rem;
  height: 36.25rem;
  top: 4.5rem;
  left: 20.875rem;
}

.instructions__up {
  display: flex;
  flex-direction: row;
  margin-top: 3.75rem;
  margin-left: 1.9375rem;
  column-gap: 26.5625rem;
}

.instructions__down {
  display: flex;
  flex-direction: row;
  margin-left: 6.75rem;
  column-gap: 35.6875rem;
}

.instructions__first {
  padding-top: 9.1875rem;
  position: relative;
}

.instructions__second {
  padding-top: 5.9375rem;
  position: relative;
}

.instructions__third {
  position: relative;
}

.instructions__fourth {
  position: relative;
}

.instructions__fourth p {
  text-align: start;
}

.instructions__third p {
  text-align: start;
}

.instructions__first::after {
  content: "";
  position: absolute;
  background: url("../img/chislo1.svg");
  height: 3.875rem;
  width: 3.875rem;
  top: 9.05rem;
  left: 14.45rem;
}

.instructions__second::after {
  content: "";
  position: absolute;
  background: url("../img/chislo2.svg");
  height: 3.875rem;
  width: 3.875rem;
  top: 5.9375rem;
  left: 19.85rem;
}

.instructions__third::before {
  content: "";
  position: absolute;
  background: url("../img/chislo3.svg");
  height: 3.875rem;
  width: 3.875rem;
  top: -0.45rem;
  left: -6.44rem;
}

.instructions__fourth::before {
  content: "";
  position: absolute;
  background: url("../img/chislo4.svg");
  height: 3.875rem;
  width: 3.875rem;
  top: -0.05rem;
  left: -4.55rem;
}