.main__guide {
  height: 100%;
  margin-top: 4.6875rem;
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 4.875rem;
}

@media (max-width:768px) {
  .main__guide {
    row-gap: 2rem;
  }
}

ul {
  margin: 0rem;
}

.main__guide h2 {
  margin: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  padding-left: 0.125rem;
}

.guide__independently h3 {
  margin: 0rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.9375rem;
  color: #fff;
  background: url("../img/label.svg");
  background-color: transparent;
  /* background-position: center; */
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  padding: 0.5rem 1.625rem 0.5rem 1.6875rem;
  border: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-left: 2.5625rem;
}

@media (max-width:768px) {
  .guide__independently h3 {
    margin-left: 0rem;
    padding: 0.5rem 1.625rem 0.5rem 2.5rem;
  }
}

.guide__independently ul {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8125rem;
  padding-left: 3.5rem;
  list-style: none;
  list-style-image: url('../img/mark.png');
}

.guide__independently li {
  padding-left: 1.125rem;
}

.guide__img {
  padding-left: 0.625rem;
}

@media (max-width:768px) {
  .guide__img {
    padding-left: 0rem;
    display: inline-block;
  }
}

@media (max-width:768px) {
  .guide__img img {
    max-width: 100%;
  }
}

@media (max-width:480px) {
  .guide__img {
    padding-left: 0rem;
    display: inline-block;
  }
}

@media (max-width:480px) {
  .guide__img img {
    max-width: 100%;
  }
}

.guide__guide h3 {
  margin: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #fff;
  background: url("../img/label2.svg");
  background-color: transparent;
  /* background-position: center; */
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  padding: 0.6rem 1.625rem 0.5rem 1.47rem;
  border: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-left: 0.8125rem;
}

@media (max-width:400px) {
  .guide__guide h3 {
    background: url("../img/label.svg");
    background-repeat: repeat-y;
    padding: 0.6rem 8.625rem 0.5rem 1.47rem;
  }
}

.guide {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  column-gap: 3rem;
  padding-left: 3.8125rem;
}

@media (max-width:1200px) {
  .guide {
    column-gap: 2rem;
    padding-left: 0rem;
  }
}

@media (max-width:1000px) {
  .guide{
    flex-direction: column;
    row-gap: 1rem;
  }
}

.guide__independently {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.independently {
  display: flex;
  flex-direction: column;
  row-gap: 3.375rem;
}

@media (max-width:768px) {
.independently {
  align-items: center;
}
}

.guide__guide {
  display: flex;
  flex-direction: column;
  row-gap: 2.75rem;
}

.guide__list {
  display: flex;
  flex-direction: column;
  row-gap: 6.875rem;
}

@media (max-width:768px) {
  .guide__list {
    align-items: center;
  }
}

.list {
  display: flex;
  flex-direction: row;
  column-gap: 1.75rem;
}

.list ul {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  display: flex;
  flex-direction: column;
  row-gap: 4.25rem;
  list-style-type: none;
}

.list__first,
.list__second {
  position: relative;
}

.list__first {
  padding-left: 1rem;
}

.list li {
  position: relative;

}

.list li::before {
  content: url("../img/marker.png");
  position: absolute;
  top: -0.375rem;
  left: -2.6875rem;
  height: 2.125rem;
  width: 2.125rem;
  /* background: url("../img/marker.png"); */
}



.guide__reason {
  display: flex;
  flex-direction: column;
  row-gap: 3.4375rem;
}

.tagline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1.1875rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.tagline img {
  padding-left: 0.875rem;
}

.tagline p {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 1.1rem;
}