header {
  position: relative;
  top: 0px;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
  margin-top: 0;
}

.header__left,
.header__right,
.header__center {
  display: inline-block;
}

.header__left {
  position: absolute;
  top: 36px;
  left: 96px;
}

.header__center {
  position: absolute;
  top: 37px;
  left: 419px;
}

.header__right {
  position: absolute;
  top: 35px;
  left: 1109px;
}

.header__call {
  color: black;
  text-decoration: none;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding: 0px;
  margin: 0;
}

.navigation__item {
  list-style-type: none;
}

.navigation__link {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%
}

.navigation__item a {
  display: block;
  position: relative;
  padding-bottom: 0.2em;
}

.navigation__menu a:hover {
  color: #FF8C00;

}

.navigation__menu a {
  transition: 2s ease;
}

.header__right a:hover {
  color: #FF8C00;

}

.header__right a {
  transition: 2s ease;
}

.navigation__item a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #FF8C00;
  opacity: 0;
  transition: opacity 2s, transform 2s;
}

.navigation__item a {
  overflow: hidden;
}

.navigation__item a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.navigation__item a:hover::after,
.navigation__item a:focus::after {
  transform: translate3d(0, 0, 0);
}

.header__title {
  position: relative;
  top: 160px;
  left: 96px;
}

.header__title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: 5px;
}

.header__subtitle h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20px !important;
  letter-spacing: 2px;
  font-weight: bolder;
}

.header__call {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

.header__call small {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  text-decoration-line: underline;
}

.header__bttn {
  position: absolute;
  top: 435px;
  width: 293px;
  height: 62px;
  background: #162223;
  border-radius: 58px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  color: #FFFFFF;
}

.plate {
  position: absolute;
  top: 80px;
  left: 700px;
  width: 429px;
  height: 429px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.1));
}

.tomato {
  position: absolute;
  top: 542px;
  left: 590px;
  width: 149px;
  height: 135px;
  filter: drop-shadow(15px 15px 40px rgba(0, 0, 0, 0.2));
}

.minitomato {
  position: absolute;
  top: 234px;
  left: 740px;
  width: 84px;
  height: 81px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.1));
}

.pepper {
  position: absolute;
  top: 446px;
  right: 0%;
  width: 242px;
  height: 171px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
}

.listik {
  position: absolute;
  top: 487px;
  left: 12px;
  width: 60px;
  height: 110px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.25));
}

.plate:hover,
.tomato:hover,
.minitomato:hover,
.pepper:hover,
.listik:hover {
  transform: scale(1.2) rotate(4deg);
}

.plate,
.tomato,
.minitomato,
.pepper,
.listik {
  transition: 1s 300ms;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.content {
  position: relative;
  width: 1366px;
  top: 380px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.content__title {
  height: 55px;
  width: 210px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  position: absolute;
  top: 10px;
  left: 562.5px;
}

.content__title::after {
  content: '';
  position: absolute;
  width: 88px;
  bottom: 0;
  height: 2px;
  background-color: black;
  top: 80px;
  left: 65px;

}

.content__subtitle {
  position: absolute;
  width: 300px;
  top: 165px;
  left: 535px;
}

.content__subtitle {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.content__programm {
  display: flex;
  flex-wrap: wrap;
}

.content__card {
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.programm {
  margin: 15px;
}

.text {
  display: flex;
}

.programm__title {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 127%;
  margin-top: 27px;
  margin-left: 32px;
  margin-right: 23px;

}

.programm__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 26px;
  margin-right: 134px;
  height: 50px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 127%;
}

.programm__list {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  margin-left: 19px;
  margin-right: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 172.5%;
}

.programm__bttn {
  width: 248px;
  height: 62px;
  border: 2px solid #EF3120;
  background: #FFF;
  border-radius: 58px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  color: #EF3120;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 89px;
  margin-bottom: 49px;
}

.perchik {
  position: absolute;
  width: 270px;
  top: 1040px;
  right: 0%;
}

.cucumber {
  position: absolute;
  width: 136px;
  height: 149px;
  top: 2940px;
  left: 0%;
}

.svekla {
  position: absolute;
  width: 115px;
  height: 101px;
  top: 2510px;
  z-index: 1;
  right: 180px;
}

.spice {
  position: absolute;
  width: 325px;
  height: 355px;
  top: 2480px;
  right: 0%;
}

.plateprogr {
  position: absolute;
  width: 351px;
  height: 348px;
  top: 2770px;
  right: 35px;
}

.perchik:hover,
.cucumber:hover,
.svekla:hover,
.plateprogr:hover,
.spice:hover {
  transform: scale(1.2) rotate(4deg);
}

.perchik,
.cucumber,
.svekla,
.plateprogr,
.spice {
  transition: 1s 300ms;
}

.outsider {
  width: 1162px;
  height: 800px;
  display: grid;
  grid-gap: 80px;
  position: relative;
  top: 780px;
  margin-left: auto;
  margin-right: auto;
}

.outsider__menu {
  display: grid;
  grid-template-columns: 130px 162px 10px 120px 10px 77px;
  grid-column-gap: 50px;
  justify-items: center;
  align-items: center;

}

.outsider__item {
  list-style-type: none;
}

.outsider__link {
  color: black;
  text-decoration: none;
}

.outsider__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: start;
  position: absolute;
  top: 200px;
}

.outsider__title {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  position: absolute;
  height: 55px;
  width: 210px;
  left: 45%;
}

.outsider__title::after {
  content: '';
  position: absolute;
  width: 88px;
  bottom: 0;
  height: 2px;
  background-color: black;
  margin-bottom: -30px;
  margin-left: -125px;
}

.outsider__navigation {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  color: black;
  text-decoration: none;
  position: absolute;
  width: 300px;
  top: 120px;
  left: 15%;
}

.bazilik {
  position: absolute;
  height: 29px;
  width: 40px;
  top: 3180px;
  right: 350px;
}

.baziliks {
  position: absolute;
  height: 24px;
  width: 33px;
  top: 3320px;
  left: 0px;
}

.branch {
  position: absolute;
  height: 129px;
  width: 94px;
  top: 3180px;
  right: 90px;
}

.bazilik:hover,
.baziliks:hover,
.branch:hover {
  transform: scale(1.2) rotate(4deg);
}

.bazilik,
.baziliks,
.branch {
  transition: 1s 300ms;
}


.footer {
  position: relative;
  height: 203px;
  width: 1366px;
  top: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  background: #000000;
  color: white;
}

.footer__text a {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 1070px;
  bottom: 20px;
}

.footer__text small {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.footer__text small b {
  font-family: "Museo Sans", 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-decoration: none;
}

.footer__head {
  position: absolute;
  top: 30px;
  left: 100px;
}

.footer__info {
  position: absolute;
  left: 100px;
  bottom: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.footer__about {
  position: absolute;
  left: 545px;
  top: 30px;
}

.footer__tel {
  text-decoration: none;
  background: #000000;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

.footer__about p {
  margin-top: 9.15px;
  margin-bottom: 9.5px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.footer__mail {
  text-decoration: none;
  background: #000000;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.social {
  position: absolute;
  left: 1100px;
  top: 10px;
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
}

.social__item {
  list-style-type: none;
}

.form {
  position: relative;
  top: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 1366px;
  height: 843.94px;
  background: #282828;
}

.form__title {
  position: absolute;
  width: 296px;
  height: 27px;
  top: 130px;
  left: 535px;
  margin-top: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  color: #BFE142;
}

.input-name {
  position: absolute;
  top: 242px;
  left: 219px;
}

input[type=text] {
  width: 431.5px;
  height: 43px;
  background: #282828;
  border-top: 1px solid #bdbdbd;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}


.input-name input::placeholder {
  position: absolute;
  top: 10px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.input-surname {
  position: absolute;
  top: 242px;
  right: 219px;
}

.input-surname input::placeholder {
  position: absolute;
  top: 10px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.input-email {
  position: absolute;
  top: 345px;
  left: 219px;
}

input[type=email] {
  width: 431.5px;
  height: 43px;
  background: #282828;
  border-top: 1px solid #bdbdbd;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.input-email input::placeholder {
  position: absolute;
  top: 10px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.input-tel {
  position: absolute;
  top: 345px;
  right: 219px;
}

input[type=tel] {
  width: 431.5px;
  height: 43px;
  background: #282828;
  border-top: 1px solid #bdbdbd;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.input-tel input::placeholder {
  position: absolute;
  top: 10px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.call {
  position: absolute;
  top: 448px;
  left: 219px;
  width: 431.5px;
  height: 43px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
  background: #282828;
  border-top: 1px solid #bdbdbd;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}


.form__comment {
  position: absolute;
  top: 458px;
  right: 219px;
  width: 436.5px;
  height: 147px;
}



textarea {
  background: #282828;
  border-top: 1px solid #bdbdbd;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  resize: none;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

textarea::-webkit-input-placeholder {
  position: absolute;
  top: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.form__bttn {
  position: absolute;
  top: 717px;
  left: 219px;
  width: 220px;
  height: 62px;
  border: 2px solid #FFFFFF;
  border-radius: 58px;
  background: #282828;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: #FFF;
}

.form__radio {
  position: absolute;
  top: 551px;
  left: 219px;
  display: flex;
  justify-content: space-between;
  width: 421px;
  height: 23px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 105%;
  color: white;
}

.radio input[type=radio] {
  display: none;
}

.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-right: 0;
  padding-bottom: 3px;
  line-height: 18px;
  user-select: none;
}

.radio label:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(../img/radio1.png) 0 0 no-repeat;
}


.radio input[type=radio]:checked+label:before {
  background: url(../img/radio2.png) 0 0 no-repeat;
}

.checkbox {
  position: absolute;
  top: 634px;
  left: 219px;
  width: 539.45px;
  height: 23.27px;
}

.checkbox__label {
  display: block;
  margin: 0 0 10px 0;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.checkbox__label input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkbox__label span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 45px;
  line-height: 22px;
}

.checkbox__label span:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/checkbox1.png) 0 0 no-repeat;
}

.checkbox__label input[type=checkbox]:checked+span:before {
  background-image: url(../img/checkbox2.png);
}

.checkbox__label span {
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.mooshroom {
  position: absolute;
  width: 270px;
  height: 270px;
  top: 4090px;
  left: 0;
}

.twopeppers {
  position: absolute;
  width: 233px;
  height: 136px;
  top: 4760px;
  right: 0%;
}

.greenpeppers {
  position: absolute;
  width: 214px;
  height: 206px;
  top: 4420px;
  left: 0px;
}

.mooshroom:hover,
.twopeppers:hover,
.greenpeppers:hover {
  transform: scale(1.2) rotate(4deg);
}

.mooshroom,
.twopeppers,
.greenpeppers {
  transition: 1s 300ms;
}

.animate {
  position: relative;
  width: 1200px;
  height: 160px;
  top: 150px;
  margin-left: auto;
  margin-right: auto;

}


.animate__content {
  box-sizing: content-box;
}

.animate__content *,
.animate__content *::before,
.animate__content *::after {
  box-sizing: inherit;
}

.animate__animated {
  display: inline-block;
  padding-right: 105px;
}

.animate__animated:nth-child(5) {
  display: inline-block;
  padding-right: 0px;
}

.animate__animated.animate__backInDown:nth-child(1) {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animate__animated.animate__backInDown:nth-child(2) {
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.animate__animated.animate__backInDown:nth-child(3) {
  -webkit-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.animate__animated.animate__backInDown:nth-child(4) {
  -webkit-animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.animate__animated.animate__backInDown:nth-child(5) {
  -webkit-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}


.animate__animated p {
  width: 151px;
  height: 38px;
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.icon-water,
.icon-dinner,
.icon-broccoli,
.icon-pot,
.icon-service {
  font-size: 70px;
  color: white;
}

.animate__content .animate__animated i::before {
  background-color: #BFE142;
  border-radius: 50%;
  padding: 25px;
  margin: 0px;
  animation-name: flip;
  animation-iteration-count: infinite;
}

.animate__content .animate__animated:nth-child(1) i::before {
  animation-duration: 10s;
  animation-delay: 9.5s;
}

.animate__content .animate__animated:nth-child(2) i::before {
  animation-duration: 10s;
  animation-delay: 10.5s;
}

.animate__content .animate__animated:nth-child(3) i::before {
  animation-duration: 10s;
  animation-delay: 11.5s;
}


.animate__content .animate__animated:nth-child(4) i::before {
  animation-duration: 10s;
  animation-delay: 12.5s;
}

.animate__content .animate__animated:nth-child(5) i::before {
  animation-duration: 10s;
  animation-delay: 13.5s;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.animate__animated p {
  width: 151px;
  height: 38px;
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}