.main--download {
  background-color: #7224EA;
  position: relative;
}

.main__download {
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background: transparent;
}

.main__download::after {
  content: " ";
  position: absolute;
  top: 3.5rem;
  left: 38.0625rem;
  background-image: url("../img/mishenka.svg");
  height: 41.5rem;
  width: 48.8125rem;
  z-index: 3;
}

.main__download::before {
  content: " ";
  position: absolute;
  top: 7.375rem;
  left: 39rem;
  background-image: url("../img/hand.svg");
  height: 35.625rem;
  width: 35.3125rem;
  z-index: 7;
}


.main__download h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  color: #FFFFFF;
  padding-top: 4.4375rem;
  padding-left: 0.125rem;
}

.reasons {
  display: flex;
  width: 48.125rem;
  height: 17.9375rem;
  flex-wrap: wrap;
  column-gap: 1.375rem;
  row-gap: 2.9375rem;
  position: relative;
  z-index: 5;
  padding-top: 4.75rem;
  padding-left: 0.1875rem;
}

.reasons__item {
  width: 23.375rem;
  height: 7.5rem;
  background-color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  /* justify-content:center; */
  align-items: center;
}

.reasons__item p {
  padding-top: 0;
}

.icon-calc,
.icon-stonks,
.icon-airplane,
.icon-rubles {
  font-size: 38px;
  color: #651FFF;
}

.icon-calc {
  padding-left: 1.875rem;
  padding-right: 0.5625rem;
}

.icon-stonks {
  padding-left: 1.5625rem;
  padding-right: 0.875rem;
}

.icon-airplane {
  padding-left: 1.5rem;
  padding-right: 0.875rem;
}

.icon-rubles {
  padding-left: 1.5rem;
  padding-right: 0.875rem;
}