.main--download {
  background-color: #7224EA;
  position: relative;
}

.main__download {
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background: transparent;
}

.main__download::after {
  content: " ";
  position: absolute;
  top: 3.5rem;
  left: 52.05%;
  /* background-image: url("../img/mishenka.svg"); */
  background: url("../img/mishenka.svg") no-repeat top center; 
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 41.5rem;
  width: 67%;
  z-index: 3;
}

@media (max-width:1630px) {
  .main__download::after {
    left: 32.05%;
  }
}

@media (max-width:1200px) {
  .main__download::after {
    display:none;
  }
}

.main__download::before {
  content: " ";
  position: absolute;
  top: 7.375rem;
  left: 53.35%;
  background-image: url("../img/hand.svg");
  height: 37.625rem;
  width: 48.3%;
  z-index: 7;
}

@media (max-width:1630px) {
  .main__download::before {
    left: 32.05%;
  }
}

@media (max-width:1200px) {
  .main__download::before {
    display:none;
  }
}

.main__download h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  color: #FFFFFF;
  padding-top: 4.4375rem;
  padding-left: 0.125rem;
}

.reasons {
  display: flex;
  max-width: 48.125rem;
  min-height: 17.9375rem;
  flex-wrap: wrap;
  column-gap: 1.375rem;
  row-gap: 2.9375rem;
  position: relative;
  z-index: 9;
  padding-top: 4.75rem;
  padding-left: 0.1875rem;
}

.reasons__item {
  width: 23.375rem;
  height: 7.5rem;
  background-color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  /* justify-content:center; */
  align-items: center;
}

@media (max-width:768px) {
  .reasons__item {
    width: 20rem;
  }
}

.reasons__item p {
  padding-top: 0;
}

.icon-calc,
.icon-stonks,
.icon-airplane,
.icon-rubles {
  font-size: 38px;
  color: #651FFF;
}

.icon-calc {
  padding-left: 1.875rem;
  padding-right: 0.5625rem;
}

.icon-stonks {
  padding-left: 1.5625rem;
  padding-right: 0.875rem;
}

.icon-airplane {
  padding-left: 1.5rem;
  padding-right: 0.875rem;
}

.icon-rubles {
  padding-left: 1.5rem;
  padding-right: 0.875rem;
}