.main--process {
  min-height: 47.8125rem;
  background-color: #F5F5F5;
}

.main__process h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  padding-top: 4.3125rem;
}

.instructions p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: end;
}

.instructions {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 4.375rem;
}

@media (max-width:1200px) {
  .instructions {
    row-gap: 13rem;
  }
}

@media (max-width:768px) {
  .instructions {
    flex-direction: column-reverse;
    row-gap: 7rem;
    margin-top:7rem;
  }
}

.instructions::before {
  content: " ";
  position: absolute;
  background-image: url("../img/chelsmisheniu.png");
  width: 32.5rem;
  height: 36.25rem;
  top: 4.5rem;
  left: 20.875rem;
}

@media (max-width:768px) {
  .instructions::before {
    display: none;
  }
}


@media (max-width:1200px) {
  .instructions::before {
    left: 12rem;
  }
}

.instructions__up {
  display: flex;
  flex-direction: row;
  margin-top: 3.75rem;
  margin-left: 1.9375rem;
  column-gap: 26.5625rem;
}

@media (max-width:1200px) {
  .instructions__up {
    margin-left: 0rem;
    column-gap: 20rem;
  }
}

@media (max-width:768px) {
  .instructions__up {
    margin-top: 0rem;
    column-gap: 30%;
  }
}

@media (max-width:480px) {
  .instructions__up {
    margin-top: 0rem;
    column-gap: 40%;
  }
}

@media (max-width:400px) {
  .instructions__up {
    margin-top: 0rem;
    column-gap: 0%;
  }
}


.instructions__down {
  display: flex;
  flex-direction: row;
  margin-left: 6.75rem;
  column-gap: 35.6875rem;
}

@media (max-width:1200px) {
  .instructions__down {
    margin-left: 0rem;
    column-gap: 37%;
  }
}

@media (max-width:768px) {
  .instructions__down {
    column-gap: 37%;
  }
}

@media (max-width:480px) {
  .instructions__down {
    column-gap: 10rem;
  }
}

@media (max-width:400px) {
  .instructions__down {
    column-gap: 0rem;
  }
}

.instructions__first {
  padding-top: 9.1875rem;
  position: relative;
}

@media (max-width:768px) {
  .instructions__first {
    padding-top: 0rem;
  }
}

.instructions__second {
  padding-top: 5.9375rem;
  position: relative;
}


@media (max-width:768px) {
  .instructions__second {
    padding-top: 0rem;
  }
}

.instructions__third {
  position: relative;
}

.instructions__fourth {
  position: relative;
}

@media (max-width:1200px){
  .instructions__fourth {
    padding-top: 9.5rem;
  }
}

@media (max-width:768px) {
  .instructions__fourth {
    padding-top: 0rem;
  }
}


.instructions__fourth p {
  text-align: start;
}

.instructions__third p {
  text-align: start;
}

@media (max-width:768px) {
  .instructions p {
    text-align: start;
  }
}

@media (max-width:480px) {
  .instructions p {
    text-align: center;
  }
}

.instructions__first::after {
  content: "";
  position: absolute;
  background: url("../img/chislo1.svg");
  height: 62px;
  width: 62px;
  top: 9.05rem;
  left: 14.45rem;
}

@media (max-width:768px) {
  .instructions__first::after {
    top: 10%;
    left: 124%;
  }
}

@media (max-width:480px) {
  .instructions__first::after {
    top: -58%;
    left: 24%;
  }
}

@media (max-width:400px) {
  .instructions__first::after {
    top: -60%;
    left: 30%;
  }
}

.instructions__second::after {
  content: "";
  position: absolute;
  background: url("../img/chislo2.svg");
  height: 62px;
  width: 62px;
  top: 5.9375rem;
  left: 19.85rem;
}

@media (max-width:1200px) {
  .instructions__second::after {
    top: 0rem;
  }
}

@media (max-width:768px) {
  .instructions__second::after {
    top: 14%;
    left: 102%;
  }
}

@media (max-width:480px) {
  .instructions__second::after {
    top: -45%;
    left: 24%;
  }
}

@media (max-width:400px) {
  .instructions__second::after {
    top: -60%;
    left: 30%;
  }
}

.instructions__third::before {
  content: "";
  position: absolute;
  background: url("../img/chislo3.svg");
  height: 62px;
  width: 62px;
  top: -0.45rem;
  left: -6.44rem;
}

@media (max-width:768px) {
  .instructions__third::before {
    top: 14%;
    left: -35%;
  }
}

@media (max-width:480px) {
  .instructions__third::before {
    top: -45%;
    left: 24%;
  }
}

@media (max-width:400px) {
  .instructions__third::before {
    top: -60%;
    left: 30%;
  }
}

.instructions__fourth::before {
  content: "";
  position: absolute;
  background: url("../img/chislo4.svg");
  height: 62px;
  width: 62px;
  top: -0.05rem;
  left: -4.55rem;
}

@media (max-width:1200px) {
  .instructions__fourth::before {
    top: 9.95rem;
  }
}

@media (max-width:768px) {
  .instructions__fourth::before {
    top: 10%;
    left: -37%;
  }
}

@media (max-width:480px) {
  .instructions__fourth::before {
    top: -58%;
    left: 24%;
  }
}

@media (max-width:400px) {
  .instructions__fourth::before {
    top: -60%;
    left: 36%;
  }
}