.main__cases {
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  row-gap: 6.375rem;
}

@media (max-width:480px) {
  .main__cases {
    margin-bottom:10%;
  }
}

.main__cases h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  padding-top: 4.375rem;
}

.cases {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FFF;
  z-index: 1;
}

.cases h3 {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFF;
  background: url("../img/back.svg");
  background-color: transparent;
  /* background-position: center; */
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  padding: 0.6rem 1.875rem 0.6rem 1.745rem;
  border: 0;
  overflow: hidden;
  border-radius: 4px;
  top: -1.1875rem;
  left: 2.25rem;

}

@media (max-width:768px) {
  .cases h3 {
    padding: 0.6rem 2.5rem 0.6rem 1.745rem;
  }
}

.cases__body {
  min-height: 22.5rem;
  display: flex;
  column-gap: 6.6875rem;
  background-color: #fff;
  border: 1px solid rgba(229, 229, 229, 0.6);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);

}

@media (max-width:1000px) {
  .cases__body {
    column-gap: 0.8rem;
  }
}

.cases__logo {
  padding-top: 9.8125rem;
  padding-left: 6.25rem;
  display: inline-block;
  align-items: center;
}

@media (max-width:1000px) {
  .cases__logo {
    padding-left: 0.25rem;
  }
}

.cases__text h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  padding-top: 3.4375rem;
}

.cases__text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.roster {
  display: flex;
  flex-direction: row;
  column-gap: 7.1rem;
  margin-top: 4.3125rem;
  margin-left: 3.4375rem;
}

@media (max-width:768px) {
  .roster {
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
  }
} 

.roster__first,
.roster__second {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  /* list-style-image: url("../img/marker.png"); */
  display: flex;
  position: relative;
}


.roster__first::before {
  content: url(../img/marker.png);
  position: absolute;
  /* background-image: url("../img/marker.png");
  height: 32px;
  width: 32px;
  top: 0.75rem; */
  left: -3.375rem;
}

.roster__second::before {
  content: url(../img/marker.png);
  position: absolute;
  /* background-image: url("../img/marker.png");
  height: 32px;
  width: 32px;
  top: 0.75rem; */
  left: -3.375rem;
}

.roster p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  padding-top: 0.625rem;
}

.roster ul {
  padding-top: 4.1875rem;
}

.roster__first {
  display: flex;
  column-gap: 1.0625rem;
}

.roster__second {
  display: flex;
  column-gap: 1.0625rem;
}

.cases::after {
  content: "";
  background-image: url("../img/paket_mish.png");
  position: absolute;
  width: 25.8125rem;
  height: 29.875rem;
  top: -15.9375rem;
  left: 43.8125rem;
  z-index: -1;
}

@media (max-width:1200px) {
  .cases::after {
    left: 43%;
  }
}

@media (max-width:800px) {
  .cases::after {
    display:none;
  }
}