header {
  position: absolute;
  top: 0;
  width: 1366px;
  left: 282px;
  right: 282px;
  height: 660px;
}

.header__left,
.header__right,
.header__center {
  display: inline-block;
}

.header__left {
  position: relative;
  top: 30px;
  left: 80px;
}

.header__center {
  position: relative;
  top: 30px;
  left: 220px;
}

.header__right {
  position: relative;
  top: 35px;
  left: 500px;
}

.header__call {
  color: black;
  text-decoration: none;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding: 0px;
}

.navigation__item {
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
}

.navigation__link {
  font-family: 'Segoe UI';
  font-style: normal;
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}


.header__main {
  position: relative;
  top: 400px;
  left: 80px;
}

.content {
  position: relative;
  top: 660px;
  width: 1366px;
  left: 362.5px;
  right: 362.5px;
  display: flex;
  flex-wrap: wrap;
}

.content__title {
  height: 55px;
  width: 210px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  position: absolute;
  top: 10px;
  left: 40%;
}

.content__title::after {
  content: '';
  position: absolute;
  width: 88px;
  bottom: 0;
  height: 2px;
  background-color: black;
  margin-bottom: -30px;
  margin-left: -140px;
}

.content__subtitle {
  position: absolute;
  width: 300px;
  top: 150px;
  left: 38%;
}

.content__subtitle {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.content__programm {
  display: flex;
  flex-wrap: wrap;
}

.content__card {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 200px;
}

.programm {
  margin: 15px;
}

.text {
  display: flex;

}

.programm__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 50px;
}

.outsider {
  width: 1162px;
  display: grid;
  grid-gap: 80px;
  position: relative;
  top: 2043px;
  left: 362.5px;
  right: 362.5px;
}

.outsider__menu {
  display: grid;
  grid-template-columns: 130px 162px 10px 120px 10px 77px;
  grid-column-gap: 50px;
  justify-items: center;
  align-items: center;

}

.outsider__item {
  list-style-type: none;
}

.outsider__link {
  color: black;
  text-decoration: none;
}

.outsider__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: start;
  position: absolute;
  top: 200px;
}

.outsider__title {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  position: absolute;
  height: 55px;
  width: 210px;
  left: 45%;
}

.outsider__title::after {
  content: '';
  position: absolute;
  width: 88px;
  bottom: 0;
  height: 2px;
  background-color: black;
  margin-bottom: -30px;
  margin-left: -125px;
}

.outsider__navigation {
  font-family: 'Segoe UI';
  font-style: normal;
  color: black;
  text-decoration: none;
  position: absolute;
  width: 300px;
  top: 120px;
  left: 15%;
}


.footer {
  position: relative;
  height: 203px;
  width: 1366px;
  top: 2830px;
  left: 260.5px;
  right: 260.5px;
  border-radius: 0px;
  background: #000000;
  color: white;
}

.footer__text {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 1070px;
  bottom: 20px;
}

.footer__head {
  position: absolute;
  top: 30px;
  left: 100px;
}

.footer__info {
  position: absolute;
  left: 100px;
  bottom: 20px;
}

.footer__about {
  position: absolute;
  left: 545px;
  top: 30px;
}

.footer__link {
  text-decoration: none;
  background: #000000;
  color: white;
}

.social {
  position: absolute;
  left: 1100px;
  top: 10px;
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
}

.social__item {
  list-style-type: none;
}