.main__reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6.25rem;
  margin-bottom: 5.5625rem;
  min-height: 28.125rem;
}

.situation {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-end;
}

.situation__container {
  position: relative;
}

.situation h2 {
  color: #ffffff;
  position: absolute;
  font-family: 'Roboto';
  top: 1.3125rem;
  left: -5.4375rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  z-index: 1;
  background: url("../img/Group.svg");
  background-color: transparent;
  /* background-position: right left; */
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  padding: 0.6875rem 1.625rem 0.5625rem 1.5rem;
  border: 0;
  overflow: hidden;
  border-radius: 0.25rem;
}

.situation__img {
  padding-right: 0.5rem;
}

.situation p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-top: 3.1875rem;
  padding-left: 0.625rem;
}

.decision {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.decision__wrapper {
  display: flex;
  flex-direction: column;
  height: 21.875rem;
}

.decision__container {
  display: flex;
  min-height: 20rem;
  flex-direction: column;
  justify-content: space-between;
}

.decision h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: #FFFFFF;
  line-height: 1.3125rem;
  margin: 0rem;
  display: flex;
  background: url("../img/Group.svg");
  background-color: transparent;
  background-position: right left;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  padding: 0.6875rem 1.625rem 0.5rem 1.6875rem;
  border: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-left: 7rem;
  margin-top: -0.125rem;
}

.decision h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0rem;
  display: flex;
  justify-content: center;
  padding-left: 5.125rem;
  padding-top: 0.25rem;
}

.decision p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0rem;
  height: 7.5rem;
  width: 18.9375rem;
  padding-right: 0.4375rem;
}

.decision__first {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 7.5rem;
  column-gap: 2.25rem;
}

.decision__second {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 7.5rem;
  column-gap: 2.25rem;
}

.first {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  line-height: 7.5rem;
  margin: 0rem;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.first::before {
  content: "";
  position: absolute;
  background-image: url("../img/Number.svg");
  height: 2.0625rem;
  width: 2.0625rem;
  top: 1.8125rem;
  left: -0.5rem;
}

.first::after {
  content: "";
  position: absolute;
  background-image: url("../img/h4.svg");
  height: 7.5rem;
  width: 7.5rem;
  top: 0.625rem;
  left: -0.5rem;
  z-index: -1;
}

.second {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 7.5rem;
  margin: 0px;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.second::before {
  content: "";
  position: absolute;
  background-image: url("../img/Number.svg");
  height: 2.0625rem;
  width: 2.0625rem;
  top: 1.8125rem;
  left: -0.5rem;
}

.second::after {
  content: "";
  position: absolute;
  background-image: url("../img/h4.svg");
  height: 7.5rem;
  width: 7.5rem;
  top: 0.625rem;
  left: -0.5rem;
  z-index: -1;
}

.decision__first p {
  padding-top: 3.875rem;
  padding-left: 0rem;
}

.decision__second p {
  padding-top: 0.1875rem;
  padding-left: 0rem;
}