header {
  position: absolute;
  top: 0;
  width: 1366px;
  left: 362.5px;
  right: 362.5px;
  height: 660px;
}

.logo,
.navBar,
#footerHeaders {
  display: inline-block;
}

.logo {
  margin-right: 180px;
  margin-left: 80px;
}

.navBarLink {
  font-family: 'Segoe UI';
  font-style: normal;
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
}

.navBarUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
  height: 19px;
  margin-right: 140px;
}

.navBarLi {
  list-style-type: none;
  display: inline-block;
  margin: 0 11px 0 11px;

}

#footerHeaders a {
  color: black;
  text-decoration: none;
}

#footerHeaders {
  margin-right: 80px;
  box-sizing: border-box;
}

.mainHeaders {
  display: inline-block;
  box-sizing: content-box;
  margin-top: 300px;
  margin-left: 80px;
}


section {
  position: absolute;
  top: 660px;
  width: 1366px;
  left: 362.5px;
  right: 362.5px;
  display: flex;
  flex-direction: column;
}

.programms {
  height: 55px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
}


.programms,
.vector-grid,
.gifts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}


.allCards {
  display: flex;
  flex-wrap: wrap;
}


.cardProgramm {
  margin: 10px
}

.eats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 50px;

}

.itemEats {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.container-grid {
  width: 1162px;
  display: grid;
  grid-gap: 80px;
  position: absolute;
  top: 1972px;
  left: 362.5px;
  right: 362.5px;
}

.container-grid-1 {
  display: grid;
  grid-template-rows: 50px 10px 25px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
}

.links-grid {
  display: grid;
  grid-template-columns: 130px 162px 10px 120px 10px 77px;
  grid-column-gap: 50px;
  justify-items: center;
  align-items: center;
}


.container-grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: start
}

.text-grid {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
}

.links-grid a {
  font-family: 'Segoe UI';
  font-style: normal;
  color: black;
  text-decoration: none;
}

figure {
  display: grid;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.pageFooter {
  position: absolute;
  height: 203px;
  width: 1366px;
  top: 2770px;
  left: 260.5px;
  right: 260.5px;
  border-radius: 0px;
  background: #000000;
  color: white;
}

.linkFooter {
  color: white;
}

.textFooter {
  color: white;
  text-decoration: none;
  position: relative;
  left: 1070px;
  bottom: 60px;
}

.headFooter {
  position: relative;
  top: 10px;
  left: 100px;
}

.infoFooter {
  position: relative;
  left: 100px;
  bottom: -90px;
}

.companyFooter {
  position: relative;
  left: 545px;
  top: -70px;
}

.companyFooter a {
  text-decoration: none;
  background: #000000;
  color: white;
}

.socialLinkFooter {
  position: relative;
  left: 1070px;
  top: -130px;
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
}